{
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "plugins": [
            "import"
        ]
    },
    "env": {
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": ["error", "single"],
        "semi": "error",
        "no-console": "warn",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-extra-semi": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-unreachable": "warn",
        "no-unsafe-finally": "warn",
        "use-isnan": "error",
        "valid-typeof": "error",
        "curly": "error",
        "dot-notation": "error",
        "eqeqeq": "warn",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "warn",
        "no-global-assign": "error",
        "no-implicit-globals": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-redeclare": "error",
        "no-return-assign": "error",
        "no-return-await": "error",
        "no-script-url": "error",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "warn",
        "no-unused-expressions": "warn",
        "no-unused-labels": "error",
        "no-useless-call": "error",
        "no-useless-catch": "error",
        "no-useless-concat": "warn",
        "no-useless-escape": "error",
        "no-useless-return": "error",
        "no-void": "error",
        "no-with": "error",
        "radix": "error",
        "require-await": "error",
        "require-unicode-regexp": "error",
        "vars-on-top": "error",
        "strict": ["error", "global"],
        "init-declarations": "error",
        "no-label-var": "error",
        "no-shadow": "warn",
        "no-shadow-restricted-names": "error",
        "no-undef": "error",
        "no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
        "no-use-before-define": "error",
        "no-buffer-constructor": "error",
        "no-path-concat": "error",
        "no-sync": "warn",
        "eol-last": "error",
        "indent": ["error", 4, {"SwitchCase": 1}],
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "no-var": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "error"
    }
}
